[mysqld]
binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
# Galera Cluster Config
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="db-cluster-us"
wsrep_cluster_address="gcomm://10.1.0.20,10.1.0.21,10.0.1.22,10.2.0.20,10.2.0.21,10.2.0.22"
wsrep_sst_method=rsync
wsrep_node_address="{{ ansible_default_ipv4.address }}"
wsrep_node_name="{{ inventory_hostname }}"
